{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CovLive | Nombre de décès</title>
  <meta content="" name="Analyses sur nombre de décès de la Covid-19">
  <meta content="" name="Analyses sur coronavirus, Analyses sur la Covid-19, Nombre de décès">


  <script src="https://kit.fontawesome.com/abd6d316b4.js" crossorigin="anonymous"></script>
  
  <!-- Favicons -->
  <!-- <link href="{% static '/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static '/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- {% static '/css/base.css' %} -->
  <!-- Vendor CSS Files -->
  <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static '/assets/css/style.css' %}" rel="stylesheet">
  
  {% block mystyle %} 
  
  {% endblock mystyle %}
</head>

<body >

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top bg-dark md-5">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{% url 'home' %}#hero">CovLive<span>.</span></a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'home' %}#hero">Accueil</a></li>
          <li><a href={% url 'analyses' %}>Analyses</a></li>
          <li><a href={% url 'donnees_par_pays' %}>Données par Pays</a></li>
          <li><a href= {% url 'contact' %}>Contacts</a></li>
          <li><a href={% url 'apropos' %}>A Propos</a></li>
          

        </ul>
      </nav><!-- .nav-menu -->

      <a href="https://www.who.int/fr" class="get-started-btn scrollto" target="_blank">Site Web de l'OMS </a>

    </div>
  </header><!-- End Header -->


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact mt-5">
    <div class="container" data-aos="fade-up">
      
      <div class="section-title">
        <h2>Statistiques</h2>
        <p>Nombre DE Décès</p>
      </div>

      <div class="row font-italic">
          <div class="col-lg-12">
                <div class="section-title mb-1">
                    <h2>Description</h2>
                </div>
                Le graphique ci-dessous montre de façon comparative la vitesse d'evolution du nombre de décès dans le monde entier.
          </div>
      </div>

      <div class="row mt-5 mb-4">
        <div class="col-lg-12 mt-4">
          <iframe 
              width="100%" 
              height="600" 
              src="https://app.powerbi.com/view?r=eyJrIjoiOGU2ODY1OTUtYTY2MS00NDZlLTg1MzAtNzNiMjVlOTUyZmM5IiwidCI6ImNlYjYwMzNmLTdiM2EtNDE2ZS04ODI5LWY3MDgzMzQ3NDYwYSJ9" 
              frameborder="0" 
              allowFullScreen="true">
        </iframe>
        </div>
      </div>

      <div class="row font-italic mt-4">
        <div class="col-lg-12">
              <div class="section-title mt-1">
                  <h2>Analyse</h2>
              </div>
              &#10033 Le premier graphique nous donne une idée globale de l’évolution du nombre 
              de décès dans le monde entier au fil du temps, soit un total de 315.000 environ.</br>
              
              <b>NB:</b> ce graphique qui montre simplement l'évolution des décès confirmés au fil du temps 
              n’est pas très utile pour répondre à la question de savoir comment la vitesse de 
              l'épidémie se compare entre les différents pays. En effet, l'épidémie de COVID-19 
              n'a pas commencé en même temps dans tous les pays.</br></br>
              
              &#10033 Le deuxième graphique est conçu pour permettre comparaison entre chaque pays.
              cette comparaison commence le jour où ce pays a eu au moins 5 décès confirmés. </br>

              Cela nous permet de comparer la vitesse à laquelle le nombre de décès confirmés a augmenté 
              après que l'épidémie a atteint un stade similaire dans chaque pays. 
              Choisissons par exemple l’Amérique du Nord, nous remarquons que les États-Unis 
              est le pays dont la trajectoire est plus élevée après avoir enregistré 5 décès 
              comparé à d’autres pays comme le Canada ou le Mexique. En raison de la grande 
              variation dans les données dans le nombre de morts, une échelle logarithmique 
              a été utilisée.</br></br>

              &#10033 Le troisième graphique présente le nombre de décès par jour et par pays. 
              
              <b>Exemple: </b>Choisissons le continent Europe, et mettons pause sur le graphique le 3 Avril 2020, 
              Nous observons que l’Espagne a le plus grand nombre de décès (950 décès), 
              ensuite vient l’Italie avec 760 décès.</br></br>

              &#10033 Le quatrième graphique est une table de fréquence qui présente le taux de mortalité calculé 
              en faisant le rapport entre le nombre de décès et le nombre d’habitants. </br>

              Nous comparons ici le nombre de décès et le taux de mortalité. Nous voulons 
              savoir s’il faut ou pas regarder uniquement le nombre de décès ou le taux de 
              mortalité pour conclure que le virus a beaucoup affecté un pays par rapport à un autre. 
              Si nous prenons par exemple le cas de United Kingdom qui a enregistré le plus 
              grand nombre de décès soit 32692 pour 66 millions d’habitants environ, 
              qui ne représente que 0.05% de taux de mortalité. 
              Pourtant si nous adoptons une vue globale pour les pays, la table présente que le pays avec le plus grand
              taux de mortalité est San Marino (41 morts sur 33000 habitants) avec 0.12%. 
              Donc on conclut qu’il faut mettre l’accent sur le taux de mortalité afin 
              de voir réellement l’impact du virus sur la population de chaque pays.
        </div>
    </div>
  </section>
    
    <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
          <h2>Commentez Ici</h2>
      </div>
      

      <div class="row">

        <div class="col-lg-2"></div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form action="" method="POST" role="form" class="php-email-form">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Votre Nom" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Votre Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="comment" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Votre Commentaire"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Votre message a ete envoye. Merci!</div>
            </div>
            <div class="text-center"><button type="submit">Laissez un Commentaire</button></div>
          </form>

        </div>

        <div class="col-lg-2"></div>

      </div>
      <!-- style="width:400px" -->

      <div class="section-title mt-5">
        <h2>Commentaires</h2>
      </div>

      {% for comment in comments %}
      <div class="row m-4">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card border-warning">
                <div class="card-body">
                    <h4 class="card-title">{{comment.name}} --- ({{comment.created}})</h4>
                    <hr class="border border-warning bg-warning">
                    <p class="card-text">
                        <i class="bx bxs-quote-alt-left quote-icon-left text-warning"></i>
                            {{comment.comment}}
                        <i class="bx bxs-quote-alt-right quote-icon-right text-warning"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    {% endfor %}

    </div>
  </section>

  <!-- Vendor JS Files -->
  <script src="{% static '/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <!-- <script src="{% static '/assets/vendor/php-email-form/validate.js' %}"></script> -->
  <script src="{% static '/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static '/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static '/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static '/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static '/assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/assets/js/main.js' %}"></script>

    <script>
        $(document).ready(function(){
            $('.toast').toast('show');
        });
    </script>

</body>

</html>