{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Gp Bootstrap Template - Index</title>
  <meta content="" name="Analyses sur le nombre de test la Covid-19 effectués">
  <meta content="" name="Analyses sur coronavirus, Analyses sur la Covid-19, Nombre de tests effectués">

  <script src="https://kit.fontawesome.com/abd6d316b4.js" crossorigin="anonymous"></script>
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- {% static '/css/base.css' %} -->
  <!-- Vendor CSS Files -->
  <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static '/assets/css/style.css' %}" rel="stylesheet">
  
  {% block mystyle %} 
  
  {% endblock mystyle %}
</head>

<body >

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top bg-dark md-5">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{% url 'home' %}#hero">CovLive<span>.</span></a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'home' %}#hero">Accueil</a></li>
          <li><a href={% url 'analyses' %}>Analyses</a></li>
          <li><a href={% url 'donnees_par_pays' %}>Données par Pays</a></li>
          <li><a href= {% url 'contact' %}>Contacts</a></li>
          <li><a href={% url 'apropos' %}>A Propos</a></li>
          

        </ul>
      </nav><!-- .nav-menu -->

      <a href="https://www.who.int/fr" class="get-started-btn scrollto" target="_blank">Site Web de l'OMS </a>

    </div>
  </header><!-- End Header -->


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact mt-5">
    <div class="container" data-aos="fade-up">
      
      <div class="section-title">
        <h2>Statistiques</h2>
        <p>Nombres de Tests</p>
      </div>
        
      <div class="row font-italic">
          <div class="col-lg-12">
                <div class="section-title mb-1">
                    <h2>Description</h2>
                </div>
                
                Denombremenet du nombre de tests effectués par jour par milliers de personnes.

          </div>
      </div>

      <div class="row mt-5 mb-4">
        <div class="col-lg-12 mt-4">
            <iframe 
                width="100%" 
                height="600" 
                src="https://app.powerbi.com/view?r=eyJrIjoiYmRlODQyMGMtNDU3YS00ZTYwLTg4M2ItOGJkMzk0YmQyNTFjIiwidCI6ImNlYjYwMzNmLTdiM2EtNDE2ZS04ODI5LWY3MDgzMzQ3NDYwYSJ9"
                frameborder="0" 
                allowFullScreen="true">
            </iframe>
        </div>
      </div>

      <div class="row font-italic mt-4">
        <div class="col-lg-12">
              <div class="section-title mt-1">
                  <h2>Analyse</h2>
              </div>
              
              &#10033 Le premier graphique montre combien de tests sont effectués par jour par milliers de personnes. Considérons donc le top 10, 
              le pays qui fait le plus de tests par milles personnes en Europe c’est l’Island, puis vient le Luxembourg puis la Lituanie etc.</br></br>

              &#10033 Le deuxième graphique montre le nombre total de tests effectués. De façon général on remarque qu’en Amérique 
              ce sont les États-Unis qui font plus de tests par jour.</br></br>

              &#10033 Le troisième graphique reprend le deuxième mais cette fois ci ajoute le facteur de cas confirmés. 
              Nous remarquons donc que chaque pays doit faire autant de test en fonction de sa population. 
              Par exemple comparons les États-Unis et le Canada, pour confirmer 9415 cas, les États unis font 124
              milles tests et le canada 268 milles qui est presque le double pourtant la population est États-Unis 
              est plus élevée que celle du Canada.</br></br>

              &#10033 Le quatrième graphique rassemble nos données sur les tests avec les données sur les cas confirmés. 
              Le tableau répond à la question: combien de tests un pays a-t-il effectués pour trouver un cas de COVID-19? 
              En Amérique du Sud, certains pays par exemple Uruguay et le Paraguay ont effectué un grand nombre de tests 
              pour chaque cas confirmé. Pourtant en Ecuador et au Brésil effectue un nombre faible de test pour trouver un cas confirmé.
        </div>
    </div>
  </section>
    
    <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
          <h2>Commentez Ici</h2>
      </div>
      

      <div class="row">

        <div class="col-lg-2"></div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form action="" method="POST" role="form" class="php-email-form">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Votre Nom" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Votre Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="comment" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Votre Commentaire"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Votre message a ete envoye. Merci!</div>
            </div>
            <div class="text-center"><button type="submit">Laissez un Commentaire</button></div>
          </form>

        </div>

        <div class="col-lg-2"></div>

      </div>
      <!-- style="width:400px" -->

      <div class="section-title mt-5">
        <h2>Commentaires</h2>
      </div>

      {% for comment in comments %}
      <div class="row m-4">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card border-warning">
                <div class="card-body">
                    <h4 class="card-title">{{comment.name}} --- ({{comment.created}})</h4>
                    <hr class="border border-warning bg-warning">
                    <p class="card-text">
                        <i class="bx bxs-quote-alt-left quote-icon-left text-warning"></i>
                            {{comment.comment}}
                        <i class="bx bxs-quote-alt-right quote-icon-right text-warning"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    {% endfor %}

    </div>
  </section>

  <!-- Vendor JS Files -->
  <script src="{% static '/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <!-- <script src="{% static '/assets/vendor/php-email-form/validate.js' %}"></script> -->
  <script src="{% static '/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static '/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static '/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static '/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static '/assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/assets/js/main.js' %}"></script>

    <script>
        $(document).ready(function(){
            $('.toast').toast('show');
        });
    </script>

</body>

</html>